<a href="https://colab.research.google.com/github/aayushjha0559-tech/python-class/blob/main/unit1_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. swap  two variable

In [ ]:
a=10
b=20
a,b=b,a
print(a,b)

20 10

#TYPECASTING CONCEPTS

2.hulk's strength level is recorded as a string input 1000.convert it into integer and increase it by 200.

In [ ]:
hulk_strength="1000"
new_strength=int(hulk_strength)+200
print(new_strength)

1200

3. Thor's hammer weight is 5000 in  int.calculate gravitational force which is required in float.

In [ ]:
hammer=5000
force=float(hammer*(9.8))
print(force)

49000.0

4. rocky Gets input in seconds as a string 3600.convert it into integer and then into hours

In [ ]:
time="3600"
int_time=int(time)
hours=int_time/3600
print(hours)

1.0

5.iron man  recorded 7 hits out of 10 shots both in integer.comvert them into float and calculate accuracy percentage.

In [ ]:
hits=7
total=10
accuracy=(float(hits)*100)/total
print(accuracy)

70.0

#OBJECT REFERENCING

1.python variables hold the references for object not the actual object themselves

In [ ]:
a=[1,2,3]
b=a
b.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

2.Reassigning a variable does not affect other variables refenrencing the same object unless explicitly updated.

In [ ]:
a=[1,2,3]
b=a
b=[4,5,6]
print(a)
print(b)

[1, 2, 3]
[4, 5, 6]

3.

In [ ]:

shield=["vibranium","round"]
copy_shield=shield
print("original shield is ",shield)
print("wolverine changes the shield materials")
copy_shield[0]="adamantium"
print("new shield is :",shield)

original shield is  ['vibranium', 'round']
wolverine changes the shield materials
new shield is : ['adamantium', 'round']

In [ ]:
a=10
del(a)
print(a)

NameError: name 'a' is not defined

#DATA **TYPES**

1.numeric :- int,float,complex
2.text:-string
3.bool
4.sequences -list(mutable),tuple(immutable) ,range
5.sets-set,frozenset
6.Binary-byte,bytearray,memoryview
7.memory-
8.none

---

In [ ]:
x=50
x=60.5
x=["mr"]

1.int:used for categorical encodings,class id,one-hot indexing and token ids in NLP.
2.float:represent real value data like features,prediction,gradients and weights
3.complex:-used in signal processing ,spectral methods for example FFT in EEG.
4.float 32/float 64 -standard in deep learning framework like pytorch,Tensorflow to balance precision and memory usage.
5.int 32/int 64-useful for labels,indexing arrays/Tensors and specifying sequence length in NLP.

In [ ]:
power_levels=[86,92.5,95,88.0,91]
if power_levels:
avg_power = round(sum(power_levels)/len(power_levels),2)
else:
avg_power = 0
print(avg_power)

IndentationError: expected an indented block after 'if' statement on line 2 (ipython-input-2848659346.py, line 3)

In [ ]:
power_levels=[86,92.5,95,88.0,91]
if power_levels:
    avg_power = round(sum(power_levels)/len(power_levels),2)
else:
    avg_power = 0
print(avg_power)

90.5

#Calculating average

In [ ]:
import statistics
power_level = {
    "Ironman": 100, "Hulk": 200
}
avg_power=statistics.mean(power_level.values())
print(avg_power)

150

interview tip
dictionary vs list
1.dictionary is best when data can be mapped whereas list works best when order or sequence matters.
2.Efficiency be ready to compte averages in 1 pass using built in functions or libraries.
3.Keep the time complexity in mind.

1.Write a python program to find largest and smallest number in a list .

In [ ]:
num=[10,2,8,4]
max = min = num[0]
for n in num :
  if max < n:
    max = n
  if min > n:
    min  = n
print("max is ",max)
print("min is ",min)

max is  10
min is  2

2. rotate a list to the right by k steps

In [ ]:
num = [10,2,8,4]
k = 2 # Define the number of steps to rotate
k = k % len(num)
rotated = num[-k: ] + num[ : -k]
print(rotated)

[8, 4, 10, 2]

#STRINGS
1.strings are the arrrays of bytes representing unique code  characters ,no separate character data types.
2. The string can be created using single quote double quote or triple quote.
3.Access individual characters via indexijng ,starting at 0.
4.Strings are immutable.
5.A string can be repeated by multiplying it by an integer.
6.Function that is used for string is str.

In [ ]:
s1="This is example of a string"
print(s1)
s2="This"+" is"+" also"+" an"+" example"+' of'+" a"+''' string'''
print(s2)
s3="This is a\
 ........... single line"
print(s3)
s4="hulk:smash"
print(s4*3)
s5="#This is not a comment"
print(s5)
print("Length of th string is " ,len(s5))
print("the first character is :",s5[0])
print("the last character is :",s5[-1])
print(s5[-0]) # in python 0and -0 are same
print("The substring of s5 is:",s5[ : ])
# this concept is known as slicing.
# THE APPLICATON OF SLICING IS DIVIDING THE DATA SET INTO TEST AND TRAIN SUBSETS.
print("The substring of s5 is:",s5[ :4])
print("The substring of s5 is:",s5[2:4])
s2[0]="b"
print(s2)

This is example of a string
This is also an example of a string
This is a ........... single line
hulk:smashhulk:smashhulk:smash
#This is not a comment
Length of th string is  22
the first character is : #
the last character is : t
#
The substring of s5 is: #This is not a comment
The substring of s5 is: #Thi
The substring of s5 is: hi

TypeError: 'str' object does not support item assignment

#indexing in lists start from 0 because to minimize the number of operations

In [ ]:
name ="iron_man"
for ch in name:
  print(ch,end="*")
s2 ="loop"
for i in range(len(s2)):
  print(-i,s2[-i])

i*r*o*n*_*m*a*n*0 l
-1 p
-2 o
-3 o

#REVERSE A STRING

In [ ]:
s2="Loop"
print(s2[::-1])
print(s2[::1])
print(s2[::2])
print(s2[4:6:])
# for i in range(1,len(s2)+1):
#   print(s2[len(s2)-i])

pooL
Loop
Lo

#ASCII code

1.in the early 1960's a standard was published called as american standard code for information interchange.
2.It specify a mapping of binary valures to characters.
3.It uses 7 bits to represent characters from 0 to 127.
4.A to Z 65 to 90
5.a to z 97 to 122.
Problem with ascii code is that the ascii character set is limited and not designed to handle character from other languages.
solution is unicode
a unicode standard define more than 1 lakh characters
python key uses unicode by default(UTF-8)
unicodes string allows global langauge support prefix:u

In [ ]:
s1="\u03c0"
print(s1)
s2="\u00B2"
print(s2)
s3="\u00B1"
print(s3)
s4="\u00B3"
print(s4)

π
²
±
³

1.\0 :Null ,ASCII value is 0
2.\a : BEL ,ASCII value is 7 it is used to generate alert
3.\b: Backspace ,ASCII value is 8
4.\t :horizontal tab,ASCII value is 9
5.\n :new line ,ASCII value is 10
6.\v: vertical tab, ASCII value is 11
7.\f : form feed(new page) ,ASCII value is 12
8.\r : carriage return ,ASCII value is 13

In [ ]:
print("Ironman \nHI")
print("ironman\t captain america")
print("C:\\Avenger\\date")
print("HULK \a")#it will trigger a beep sound on supported terminal
print("HULK \v HI")

Ironman
HI
ironman	 captain america
C:\Avenger\date
HULK 
HULK  HI

#METHODS OF STRING

1.Lower and upper case
WE can use these methods in NLP
2.STRIP METHOD it removes special characters or wide spaces that are either trailing or leading .It does not remove the  special characters or whitespaces which lie in middle
3.Replace function helps to remove all the special characters and white spaces from string
4.Split  / join
5.find
6.count function
7.starts with
8.ends with

In [ ]:
review="This movie is amazing"
print(review.upper())
print(review.lower())
tweet="@AIROCKS"
print(tweet.strip())
print(tweet.strip("@"))
s1="AI@ROCKS"
print(s1.strip("@"))
print(s1.replace("@",""))
tokens=review.split()
print(tokens)
print("".join(tokens))
print(" ".join(tokens))

THIS MOVIE IS AMAZING
this movie is amazing
@AIROCKS
AIROCKS
AI@ROCKS
AIROCKS
['This', 'movie', 'is', 'amazing']
Thismovieisamazing
This movie is amazing

In [ ]:
text = "this is python python class"
print(text.find("python"))
print(text.find("p",7,11))
print(text.find("q"))
print(text.index("q"))

8
8
-1
-1

ValueError: substring not found

In [ ]:
text = "this is python python class"
print(text.count("python"))
print(text.count("python",7,25))

2
2

In [ ]:
word=["how","are","you"]
for i in word:
  print(i)
print(word.strip())

how
are
you

AttributeError: 'list' object has no attribute 'strip'

In [ ]:
txt="hello i am aayush kumar jha"
print(txt.startswith("hello"))
print(txt.startswith("hello",0,10))
print(txt.endswith("jha"))
print(txt.endswith(("jha","Aayush")))

True
True
True
True

#IN KEYWORD

In [ ]:
avg="thor capt america"
print("thor" in avg)
print("Loki" not in avg)
if "loki" not in avg :
  print("No,Loki is not present")
if "thor" in avg :
  print("Yes")

True
True
No,Loki is not present
Yes

Ques ) Given a sentence "loki try to trick avenger ".check if "loki" is present in it .if yes print enemy detected otherwise all clear

In [1]:
sentence = "loki try to trick avenger"
if "loki" in sentence:
    print("enemy detected")
else:
    print("all clear")

enemy detected

Ques) We define the usage of capitals in a word to be right when one of the following cases hold.
1)All letters in this word are capitals like USA.
2)All letters in word are small.
3)only the 1st letter in this word are capital like Google.
given a string of word return true if the usage of capital is correct

In [9]:
word=input("enter a word : ")
if word == word.upper():
    print(True)
elif word == word.lower():
    print(True)
elif word == word.capitalize():
    print(True)
else:
    print(False)

enter a word : GooGle
False

In [ ]:
word=["How","are","you"]
# print(word.strip(''))
for i in word:
  print(i.strip(''))

How
are
you

#BOOLEAN

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
a,b=10,20
print(a and b)
print(a or b)
print(a^b)
print(10>9 and 10>7)
print(5>3 or 4>10)
print(not(5>3))
print(bool([])) #if empty then false
print(bool(" ")) #if not empty then true

20
10
30
True
True
False
False
True

#Swap 2 numbers using xor operator.,

In [ ]:
a,b = 10,20
print(f"Before swapping: a = {a}, b = {b}")
a = a ^ b
b = a ^ b
a = a ^ b
print(f"After swapping: a = {a}, b = {b}")

Before swapping: a = 10, b = 20
After swapping: a = 20, b = 10