<a href="https://colab.research.google.com/github/aayushjha0559-tech/python-class/blob/main/unit1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SWAPPING VARIABLES

1. swap  two variable

In [ ]:
a=10
b=20
a,b=b,a
print(a,b)

20 10

#2.TYPECASTING CONCEPTS

2.a)hulk's strength level is recorded as a string input 1000.convert it into integer and increase it by 200.

In [ ]:
hulk_strength="1000"
new_strength=int(hulk_strength)+200
print(new_strength)

1200

2.b) Thor's hammer weight is 5000 in  int.calculate gravitational force which is required in float.

In [ ]:
hammer=5000
force=float(hammer)*9.8
print(force)

49000.0

2.c) rocky Gets input in seconds as a string 3600.convert it into integer and then into hours

In [ ]:
time="3600"
int_time=int(time)
hours=int_time/3600
print(hours)

1.0

2.d)iron man  recorded 7 hits out of 10 shots both in integer.comvert them into float and calculate accuracy percentage.

In [ ]:
total,hits=10,7
acc=(float(hits)/float(total))*100
print('Accuracy: ',acc,'%')
#print(f"Accuracy: {acc:.2f}%")

Accuracy:  70.0 %

#3.OBJECT REFERENCING

a)python variables hold the references for object not the actual object themselves

In [ ]:
a=[1,2,3]
b=a
b.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

b)Reassigning a variable does not affect other variables refenrencing the same object unless explicitly updated.

In [ ]:
a=[1,2,3]
b=a
b=[4,5,6]
print(a)
print(b)

[1, 2, 3]
[4, 5, 6]

3.

In [ ]:

shield=["vibranium","round"]
copy_shield=shield
print("original shield is ",shield)
print("wolverine changes the shield materials")
copy_shield[0]="adamantium"
print("new shield is :",shield)

original shield is  ['vibranium', 'round']
wolverine changes the shield materials
new shield is : ['adamantium', 'round']

In [ ]:
a=10,20
del(a)
# print(a)

#DATA **TYPES**

1.numeric :- int,float,complex
2.text:-string
3.bool
4.sequences -list(mutable),tuple(immutable) ,range
5.sets-set,frozenset
6.Binary-byte,bytearray,memoryview
7.memory-
8.none

---

In [ ]:
x=50
x=60.5
x=["mr"]

1.int:used for categorical encodings,class id,one-hot indexing and token ids in NLP.
2.float:represent real value data like features,prediction,gradients and weights
3.complex:-used in signal processing ,spectral methods for example FFT in EEG.
4.float 32/float 64 -standard in deep learning framework like pytorch,Tensorflow to balance precision and memory usage.
5.int 32/int 64-useful for labels,indexing arrays/Tensors and specifying sequence length in NLP.

In [ ]:
power_levels=[86,92.5,95,88.0,91]
if power_levels:
    avg_power = round(sum(power_levels)/len(power_levels),2)
else:
    avg_power = 0
print(avg_power)

90.5

#Calculating average by use of built in functions

In [ ]:
import statistics
power_level = {
    "Ironman": 100, "Hulk": 200
}
avg_power=statistics.mean(power_level.values())
print(avg_power)

150

interview tip
dictionary vs list
1.dictionary is best when data can be mapped whereas list works best when order or sequence matters.
2.Efficiency be ready to compte averages in 1 pass using built in functions or libraries.
3.Keep the time complexity in mind.

1.Write a python program to find largest and smallest number in a list .

In [ ]:
num=[10,2,8,4]
max = min = num[0]
for n in num :
  if max < n:
    max = n
  if min > n:
    min  = n
print("max is ",max)
print("min is ",min)

max is  10
min is  2

2. rotate a list to the right by k steps

In [ ]:
num = [10,2,8,4]
k = 2 # Define the number of steps to rotate
k = k % len(num)
rotated = num[-k: ] + num[ : -k]
print(rotated)

[8, 4, 10, 2]

#STRINGS
1.strings are the arrrays of bytes representing unique code  characters ,no separate character data types.
2. The string can be created using single quote double quote or triple quote.
3.Access individual characters via indexijng ,starting at 0.
4.Strings are immutable.
5.A string can be repeated by multiplying it by an integer.
6.Function that is used for string is str.

In [ ]:
# @title
s1="This is example of a string"
print(s1)
s2="This"+" is"+" also"+" an"+" example"+' of'+" a"+''' string'''
print(s2)
s3="This is a\
 ........... single line"
print(s3)
s4="hulk:smash"
print(s4*3)
s5="#This is not a comment"
print(s5)
print("Length of the string s5 is " ,len(s5))
print("the first character of s5 is :",s5[0])
print("the last character of s5 is :",s5[-1])
print(s5[-0]) # in python 0and -0 are same
print("The substring of s5 is:",s5[ : ])
# this concept is known as slicing.
# THE APPLICATON OF SLICING IS DIVIDING THE DATA SET INTO TEST AND TRAIN SUBSETS.
print("The substring of s5 is:",s5[ :4])
print("The substring of s5 is:",s5[2:4])
s2[0]="b" #will give an error as strings are immutable
print(s2)

This is example of a string
This is also an example of a string
This is a ........... single line
hulk:smashhulk:smashhulk:smash
#This is not a comment
Length of the string s5 is  22
the first character of s5 is : #
the last character of s5 is : t
#
The substring of s5 is: #This is not a comment
The substring of s5 is: #Thi
The substring of s5 is: hi

TypeError: 'str' object does not support item assignment

#indexing in lists start from 0 because to minimize the number of operations

In [ ]:
name ="iron_man"
for ch in name:
  print(ch,end="*")

i*r*o*n*_*m*a*n*

#REVERSE A STRING

In [ ]:
s2="Loop"
print(s2[::-1]) #reverse string
print(s2[::1])  #print the same string
print(s2[::2])
print(s2[4:6:])
# for i in range(1,len(s2)+1):
#   print(s2[len(s2)-i])

pooL
Loop
Lo

#ASCII code

1.in the early 1960's a standard was published called as american standard code for information interchange.
2.It specify a mapping of binary valures to characters.
3.It uses 7 bits to represent characters from 0 to 127.
4.A to Z 65 to 90
5.a to z 97 to 122.
Problem with ascii code is that the ascii character set is limited and not designed to handle character from other languages.
solution is unicode
a unicode standard define more than 1 lakh characters
python key uses unicode by default(UTF-8)
unicodes string allows global langauge support prefix:u

In [ ]:
s1="\u03c0"
print(s1)
s2="\u00B2"
print(s2)
s3="\u00B1"
print(s3)
s4="\u00B3"
print(s4)

π
²
±
³

1.\0 :Null ,ASCII value is 0
2.\a : BEL ,ASCII value is 7 it is used to generate alert
3.\b: Backspace ,ASCII value is 8
4.\t :horizontal tab,ASCII value is 9
5.\n :new line ,ASCII value is 10
6.\v: vertical tab, ASCII value is 11
7.\f : form feed(new page) ,ASCII value is 12
8.\r : carriage return ,ASCII value is 13

In [ ]:
print("Ironman \nHI")
print("ironman\t captain america")
print("C:\\Avenger\\date")
print("HULK \a")#it will trigger a beep sound on supported terminal
print("HULK \v HI")

Ironman
HI
ironman	 captain america
C:\Avenger\date
HULK 
HULK  HI

#METHODS OF STRING

1.Lower and upper case
WE can use these methods in NLP
2.STRIP METHOD it removes special characters or wide spaces that are either trailing or leading .It does not remove the  special characters or whitespaces which lie in middle
3.Replace function helps to remove all the special characters and white spaces from string
4.Split  / join
5.find
6.count function
7.starts with
8.ends with

In [ ]:
review="this movie is Amazing"
print(review.upper())
print(review.lower())
print(review.capitalize())
print(review.title())
tweet="@AIROCKS"
print(tweet.strip())
print(tweet.strip("@"))
s1="AI@ROCKS"
print(s1.strip("@"))
print(s1.replace("@",""))
tokens=review.split()
print(tokens)
print("".join(tokens))
print(" ".join(tokens))

THIS MOVIE IS AMAZING
this movie is amazing
This movie is amazing
This Movie Is Amazing
@AIROCKS
AIROCKS
AI@ROCKS
AIROCKS
['this', 'movie', 'is', 'Amazing']
thismovieisAmazing
this movie is Amazing

In [ ]:
text = "this is python python class"
print(text.find("python"))
print(text.find("p",7,11))
print(text.find("q"))
print(text.index("q"))

8
8
-1

ValueError: substring not found

In [ ]:
text = "this is python python class"
print(text.count("python"))
print(text.count("python",7,25))

2
2

In [ ]:
word=["how","are","you"]
for i in word:
  print(i)
print(word.strip())

how
are
you

AttributeError: 'list' object has no attribute 'strip'

In [ ]:
txt="hello i am aayush kumar jha"
print(txt.startswith("hello"))
print(txt.startswith("hello",0,10))
print(txt.endswith("jha"))
print(txt.endswith(("jha","Aayush")))

True
True
True
True

#IN KEYWORD

In [ ]:
avg="thor capt america"
print("thor" in avg)
print("Loki" not in avg)
if "loki" not in avg :
  print("No,Loki is not present")
if "thor" in avg :
  print("Yes")

True
True
No,Loki is not present
Yes

Ques ) Given a sentence "loki try to trick avenger ".check if "loki" is present in it .if yes print enemy detected otherwise all clear

In [ ]:
sentence = "loki try to trick avenger"
if "loki" in sentence:
    print("enemy detected")
else:
    print("all clear")

enemy detected

Ques) We define the usage of capitals in a word to be right when one of the following cases hold.
1)All letters in this word are capitals like USA.
2)All letters in word are small.
3)only the 1st letter in this word are capital like Google.
given a string of word return true if the usage of capital is correct

In [ ]:
word=input("enter a word : ")
# if word == word.upper():
#     print(True)
# elif word == word.lower():
#     print(True)
# elif word == word.capitalize():
#     print(True)
if (word.isupper() or word.islower() or word==word.capitalize()):
  print("True")
else:
    print(False)

enter a word : aAyush
False

In [ ]:
word=["How","are","you"]
# print(word.strip(''))
for i in word:
  print(i.strip(''))

How
are
you

#BOOLEAN

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
a,b=10,20
print(a and b)
print(a or b)
print(a^b)
print(10>9 and 10>7)
print(5>3 or 4>10)
print(not(5>3))
print(bool([])) #if empty then false
print(bool(" ")) #if not empty then true

20
10
30
True
True
False
False
True

#Swap 2 numbers using xor operator.,

In [ ]:
a,b = 10,20
print(f"Before swapping: a = {a}, b = {b}")
a = a ^ b
b = a ^ b
a = a ^ b
print(f"After swapping: a = {a}, b = {b}")

Before swapping: a = 10, b = 20
After swapping: a = 20, b = 10

#ARITHMETIC OPERATORS

In [ ]:
a,b=10,9
print(a%b)
print(a+b)
print(a-b)
print(a*b)
print(a**b) #it will give 10 ^9 #exponential
print(a//b) #floor division
print(a/b)
print(2**3**2) #(2)^((3)^(2))=2^9 =512 #right associativity
print(-10//3) # python floor division differs from c++.in python you get the ans -4 whereas in c++ you get -3.

1
19
1
90
1000000000
1
1.1111111111111112
512
-4

#ASSIGNMENT

code consistent and readibility.
effieciency(in place updation : In python operators like +=try to update object in place)

In [ ]:
x=5
x*=2+3
print(x) # precedence of *(astrick) is less than + operator
y=10
y//=3 #floor division
print(y)
z=10
z%=3 #modulo
print(z)
w=5
w**=3 #exponential
print(w)

25
3
1
125

In [ ]:
a=[1,2]
b=a
a+=[3]
print(a)
print(b)
a=[1,2]
b=a
a=a+[3]
print(a)
print(b) #output is [1,2] because a new list (a) was created

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2]

In [ ]:
x=5
x&=3
print(x)
y=3
y|=5
print(y)
z=5
z^=5
print(z)
a=10
a<<1
print(a)
print(a:=3)

1
7
0
10
3

#COMPARSION OPRATORS

In [ ]:
x,y=10,10
print(x==y)
print(x!=y)
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)
print(10==10.0)
print("10"==10)
print(True==1)
print(True+True)

True
False
False
True
False
True
True
False
True
2

#LOGICAL OPERATORS

In [ ]:
print(0 and 5)
print(0 or 5)
print(not(5))
print([] or "hi")
print([] and "hi")
# a and b does not evaluate b if a is false .this concept is called short circuiting.

0
5
False
hi
[]

#IDENTITY OPERATORS

In [ ]:
a=[1,2,3]
print(3 in a)
print("a" in "banana")
print("nana" in "banana")

True
True
True

#BITWISE OPERATORS

In [ ]:
print(5 & 3)
print(5 | 3)
print(5 ^ 3)
print(~5)

1
7
6
-6

In [ ]:
print(-10//3)
print("APPLE" <"apple")
print(True == 2-3)

-4
True
False

# LIST METHODS

In [ ]:
l1 = [1,2,3,4]
l1 = l1+[5]
print(l1)
print(l1[1:4])
print(l1[-1])
print(l1[ : : -1])

[1, 2, 3, 4, 5]
[2, 3, 4]
5
[5, 4, 3, 2, 1]

#MEMBER OPERATOR

In [ ]:
infinitystone = ["space","time","reality","mind","power","soul"]
if "soul" in infinitystone:
  print("Yes soul is present")
else:
  print("soul is not present")

infinitystone[0]="inf_soul"
print(infinitystone)
infinitystone[1:3] = ["123","stone"] #updating the list member
print(infinitystone)
infinitystone.insert(2,"sky") #inserting at particular index
print(infinitystone)

Yes soul is present
['inf_soul', 'time', 'reality', 'mind', 'power', 'soul']
['inf_soul', '123', 'stone', 'mind', 'power', 'soul']
['inf_soul', '123', 'sky', 'stone', 'mind', 'power', 'soul']

#EXTEND FUNCTION
1)used to apppend two different lists
2)also tuples can be appended

In [ ]:
infinitystone = ["space","time","reality","mind","power","soul"]
l1 = ["abcd","efgh"]
infinitystone.extend(l1)
print(infinitystone)
infinitystone.remove("soul")  #removeis used to remove elements from list
print(infinitystone)
infinitystone.pop(1) #remove from particular   index
print(infinitystone)
infinitystone.remove(1) #remove cant be used for removing from particular index
print(infinitystone)

['space', 'time', 'reality', 'mind', 'power', 'soul', 'abcd', 'efgh']
['space', 'time', 'reality', 'mind', 'power', 'abcd', 'efgh']
['space', 'reality', 'mind', 'power', 'abcd', 'efgh']

ValueError: list.remove(x): x not in list

#DELETION


*   remove is uded to delete
*   clear removes only value but its place will be maintained used to reuse the space
*del

In [ ]:
students=["Aayush" ,"NILKAMAL","Daksh"]
for x in students:
  print(x)
new= [print(x) for x in students]
print(new)

Aayush
NILKAMAL
Daksh
Aayush
NILKAMAL
Daksh
[None, None, None]

In [ ]:
i=1
while(i*i<=100):
  print(i*i)
  i=i+1

1
4
9
16
25
36
49
64
81
100

In [ ]:
num=[]
i=1
while(i*i<=100):
  num.append(i*i)
  i=i+1
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
num=[]
sqlist = [num.append(i*i) for i in range(1,11)]
print(num)
# sqlist = [num.append(i*i) for i in range(1,11) if i*i<=100]
# print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
n = [[1,2,3],
     [4,5,6]]
print(n)

[[1, 2, 3], [4, 5, 6]]

In [ ]:
from os.path import split
# name=input("enter your name : ")
# print(name)
# print(type(name))
# num = int(input("Enter the number : "))
# print(num)
# l1=[]
# n=int(input("Enter the number of element you want to store : "))
# for i in range(0,n):
#   val=int(input("Enter the value : "))
#   l1.append(val)
# print(l1)
# a=[int(x) for x in input("Enter the value :").split()]
# print(a)
num= input("Enter the number").split()
for i in range(n):
  num[i]=int(num[i])
print(num)
#split is used for strings only

Enter the number2 5 2

NameError: name 'n' is not defined

#DICTIONARY

1)mutable

2)duplicates are not allowed

3)collection of unique data which is arranged in a key value pair is called dictionary

In [ ]:
student_name={ 1:"Swati",2:"Pankaj",3:"Aayush"}
print(type(student_name))
print(student_name)
n={ 1:"Swati",2:"Pankaj",3:"Aayush",3:"daksh"}
# n={ 1:"Swati",2:"Pankaj",3:"Aayush",3:"Aayush"}
print(len(n))
print(n)
print(n[2])

<class 'dict'>
{1: 'Swati', 2: 'Pankaj', 3: 'Aayush'}
3
{1: 'Swati', 2: 'Pankaj', 3: 'daksh'}
Pankaj

In [ ]:
car={"brand":"Audi","model":'q2025'}
print(car['brand'])
# print(car['bran']) #it will give key error
print(car["model"])
print(car.get("brand"))
print(car.get("brand",0))
print(car.get("bran",0))
print(car.get("bran","N/A"))
print(car.get("bran","wrong key"))
print(car.get("aayush")) #none will be printedif key not found
print(car.get("model"))
print(car.keys())  #all keys are printed in the form of list
print(car.values()) #all values are printed in the form of list
print(car.items()) #item gives all keys and values
car["fuel"]="petrol" #mutable
car['year']=2025
print(car.values())
print(car.keys())

Audi
q2025
Audi
Audi
0
N/A
wrong key
None
q2025
dict_keys(['brand', 'model'])
dict_values(['Audi', 'q2025'])
dict_items([('brand', 'Audi'), ('model', 'q2025')])
dict_values(['Audi', 'q2025', 'petrol', 2025])
dict_keys(['brand', 'model', 'fuel', 'year'])

In [ ]:
car ={"brand":"audi","model":"n2025"}
car_item=car.items() #  ITEMS GIVE ALL KEY AND VALUE
print(car_item)
for k,v in car.items():
  print(k,v)
car["model"]="s2025" #updation
print(car)
car.update({"model":"a2025"})
print(car)
car.update({"colour":"red"})
print(car)

dict_items([('brand', 'audi'), ('model', 'n2025')])
brand audi
model n2025
{'brand': 'audi', 'model': 's2025'}
{'brand': 'audi', 'model': 'a2025'}
{'brand': 'audi', 'model': 'a2025', 'colour': 'red'}

In [ ]:
students=["Boy","Girl","Boy","Boy"]
op={"Boy":3,"Girl":1}
count={}
for i in students:
  count[i]=count.get(i,0)+1
print(count)

{'Boy': 3, 'Girl': 1}

#NESTED DICTIONARY

In [ ]:
student={"s1" : {"name":"aayush","year":2024,"department":"ece"},
               "s2":{"name":"prakash","year":2024,"department":"ece"}
               }
print(student["s2"]["year"])
print(student["s1"]["name"])
print(student["s1"]["department"])
print(student.items())
for k,v in student.items():
  for k1,v1 in v.items():
    print(k1,v1)

2024
aayush
ece
dict_items([('s1', {'name': 'aayush', 'year': 2024, 'department': 'ece'}), ('s2', {'name': 'prakash', 'year': 2024, 'department': 'ece'})])
name aayush
year 2024
department ece
name prakash
year 2024
department ece

In [ ]:
avengers ={"name":"Ironman","power":"suit","age":55}
avengers_copy=avengers.copy()
avengers_copy.clear()
print("1.copy() and clear() : ",avengers_copy)
print("2.original :",avengers)
avg_keys=avengers.keys()
print("3.keys() : ",avg_keys)
avg_values=avengers.values()
print("4.values() : ",avg_values)
popped_item=avengers.pop("age")
print("5.pop() : ",popped_item)
print("6.remaining dict :",avengers)
last_item=avengers.popitem()
print("7.popitem() : ",last_item)
keys=["thor","hulk"]
new_team=dict.fromkeys(keys,avengers)
print("8.fromkeys():",new_team)
avengers.update({"age":75})
print("9.Update :",avengers)
print("10. get():",avengers.get("name"))
print("11.items: ",avengers.items())
values=avengers.setdefault("year",)
print("12.setdefault():",2015,values)
print("updated dict:",avengers)

1.copy() and clear() :  {}
2.original : {'name': 'Ironman', 'power': 'suit', 'age': 55}
3.keys() :  dict_keys(['name', 'power', 'age'])
4.values() :  dict_values(['Ironman', 'suit', 55])
5.pop() :  55
6.remaining dict : {'name': 'Ironman', 'power': 'suit'}
7.popitem() :  ('power', 'suit')
8.fromkeys(): {'thor': {'name': 'Ironman'}, 'hulk': {'name': 'Ironman'}}
9.Update : {'name': 'Ironman', 'age': 75}
10. get(): Ironman
11.items:  dict_items([('name', 'Ironman'), ('age', 75)])
12.setdefault(): 2015 None
updated dict: {'name': 'Ironman', 'age': 75, 'year': None}

apple-200
avacado-700
banana-100
strwaberry-900
you need to add/find 2 items that add up to your budget which is 900 and thereshould not be 1 item only

In [ ]:
dic ={"apple":200,"avacado":700,"banana":100,"strwaberry":900}
target = 900
seen = {}
for k,v in dic.items():
  diff=target-v
  if diff in seen :
    print(f"Keys:{seen[diff]} and {k}")
    print(f"Values:{diff}+{v}={target}")
    break
  seen[v]=k
else :
  print("no match")

Keys:apple and avacado
Values:200+700=900

Q)a telecom company provides a list of data pack prices a customer has a fixed budget and the company system needs to find 2 packs whose combined cost exactly matches the customer.if such a pair exists then system should return their keys and prices if no such combination is found it should display a message no valid combination found within the budget

Q)you are managing a telecom customer portal. when a new user registers their username must be unique .if a user enters existing values and names the system should return already exists

#FUNCTIONS

In [ ]:
pi=3.14
def area_of_circle(r):
  return pi*r*r

a = area_of_circle(3)
print("The area is ",a)

The area is  28.259999999999998

In [ ]:
def prime(n):
  for i in range(2, n):
    if n % i == 0:
      print("not prime")
      break
  else:
      print("prime")
n = int(input("enter no :"))
a = prime(n)

enter no :51
not prime

In [ ]:
def calculator(p, q):
    print("Addition:", p + q)
    print("Subtraction:", p - q)
    print("Multiplication:", p * q)
    print("Division:", p / q)
calculator(5, 6)

Addition: 11
Subtraction: -1
Multiplication: 30
Division: 0.8333333333333334

Q1)write a functon that takes string as an input and returns uppercase,capitalize,lowercase,title.
Q2)write a function named email validator ,password validator
Q3)write a function that calculates simple interest,compound interest.

In [ ]:
def string(n):
  print("capitalize: ",n.capitalize())
  print("title: ",n.title())
  print("upper: ",n.upper())
  print("lower: ",n.lower())

s1=input("enter a string")
a=string(s1)

enter a stringaayush
capitalize:  Aayush
title:  Aayush
upper:  AAYUSH
lower:  aayush

#*args and **kwargs

In [ ]:
def myfamily(*args):
    print(args)
    print("The youngest child is " + args[1])
    print("Type:", type(args))
    print("First argument:", args[0])

myfamily("amit", "shiva", "avantika")

('amit', 'shiva', 'avantika')
The youngest child is shiva
Type: <class 'tuple'>
First argument: amit

you need to calculate your total marks

In [ ]:
def sum_all(*numbers):
  total=0
  for num in numbers:
    total=total+num
  return total

print(sum_all(20,30,50,40,60))

200

list of 6 numbers find the max of this using *args

In [ ]:
def greatest(*numbers):
  maxi=numbers[0]
  for i in numbers:
    if i>maxi:
      maxi=i
  return maxi
# l1=[10,20,30,40,50]
# print(greatest(*l1))
numbers=[10,20,30,40,50]
print(greatest(*numbers))

50

In [ ]:
def myfamily(**child):
  print("Type",type(child))
  print("Name ",child["name"])
  print("Age :",child["age"])
  print(child)
myfamily(name="shiva",age=10,city="tokyo")

Type <class 'dict'>
Name  shiva
Age : 10
{'name': 'shiva', 'age': 10, 'city': 'tokyo'}

In [ ]:
def my_fun(title,*args,**kwargs):
  print("title:",title)
  print("positional arguments",args)
  print("keyword arguments",kwargs)

my_fun("user info","ayush","nav",age=26,city="lucknow")

title: user info
positional arguments ('ayush', 'nav')
keyword arguments {'age': 26, 'city': 'lucknow'}

In [ ]:
def my_fun(a,b,c):
  return a+b+c
num=[1,2,3]
result=my_fun(*num)
print(result)

6

In [ ]:
def my_details(fname,lname):
  print("Hello",fname,lname)
person={"fname":"aayush","lname":"jha"}
my_details(**person)

Hello aayush jha

In [ ]:
# create a function student_profile  with keyword argyyuments that prints the formatted message.Amit is 22 year old and studying btech